<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SportsStoreEntities" connectionString="metadata=res://*/Concrete.ORM.SportsStore.csdl|res://*/Concrete.ORM.SportsStore.ssdl|res://*/Concrete.ORM.SportsStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TITAN\SQLEXPRESS;Initial Catalog=SportsStore;Persist Security Info=True;User ID=adam;Password=adam;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>