@model List<MvcApp.Models.Person>

@{
    ViewBag.Title = "MPerson";
}


@using (Html.BeginForm()) {

<h4>First Person</h4>
<input type="hidden" name="[0].key" value="firstPerson"/>
@:First Name: @Html.TextBox("[0].value.FirstName")
@:Last Name: @Html.TextBox("[0].value.LastName")

<h4>Second Person</h4>
<input type="hidden" name="[1].key" value="secondPerson"/>
@:First Name: @Html.TextBox("[1].value.FirstName")
@:Last Name: @Html.TextBox("[1].value.LastName")



  <input type=submit />  

}



