<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="SportsStoreEntities" 
         connectionString="provider connection string=&quot;Data Source=TITAN\SQLEXPRESS;User ID=adam;Password=adam;&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral" />
      </assemblies>
    </compilation>
  </system.web>
  
</configuration>
