@inherits Views.Models.ViewClasses.CalculatorView
@{
    ViewBag.Title = "Calculate";
}

<h4>Calculate</h4>

The calculation result for @ViewBag.X and @ViewBag.Y is @Calulator.Sum(ViewBag.X, ViewBag.Y)

