@model string[]
@{
    ViewBag.Title = "Index";
}

@helper GetNow() {
    <blockquote>@DateTime.Now</blockquote>
}



This is a list of fruit names:

@foreach (string name in Model) {
    <span><b>@name</b></span>
}