<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="SportsStoreEntities" connectionString="metadata=res://*/Concrete.ORM.SportsStore.csdl|res://*/Concrete.ORM.SportsStore.ssdl|res://*/Concrete.ORM.SportsStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TITAN\SQLEXPRESS;initial catalog=SportsStore;persist security info=True;user id=adam;password=adam;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>